{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Robotics</title>
{% endblock title %}


{% block content %}

{% if "Robotics" not in clubs_in %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Are you a member of the cheerleading team?</h4>
  <p></p>
  <hr>
  <form class="" method="post">
    {% csrf_token %}
    <a id="joinClub" class="btn btn-light btn-block">Join Robotics</a>
  </form>

</div>


<script name="joinClubs">

var club = "Robotics"

  $("#joinClub").click(function(event){

           data = {'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
           'ClubEntered': club};
           console.log("Data Sent: ", data);
           $.ajax({
                   type:'POST',
                   url:'/clubs/robotics/',
                   datatype: 'JSON',
                   data: data,
                   success: function(data) {
            console.log('Success: ' + data) // check out how data is structured
          }
          });
 });

</script>


{% else %}
{% endif %}

  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Remember</h4>
    <p>Robotics holds meetings every Tuesdays and Thursdays after school in the first floor</p>
    <hr>
    <p class="mb-0">If you have any question go into the Robotics Room <a href="/room/robotics">here</a></p>
  </div>

  <div class="jumbotron text-white text-center" style="background:#3c3c3c">
                    <h1 class="title">NAHS Warbotz</h1>
                    <h4>We are the North Atlanta Warbotz, a high school robotics team that combines STEM and teamwork
                        to foster
                        academic growth and skill.</h4>
                    <br>
                    <h4>Every year, we come together to brainstorm, plan, and build an efficient and competitive robot
                        for
                        <a href="http://www.firstinspires.org/" target="_blank" class="btn-sm btn-danger">FIRST</a>, an
                        international youth organization that operates the First Robotics Competition, First
                        Lego League, First Lego League Jr., and First Tech Challenge competitions.</h4>
                    <br>

  </div>

<div class="container-fluid rounded border shadow-sm">
  <h3>Sponsors</h3>
  <div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div>

<div class="container-fluid rounded border shadow-sm">
  <h3>Competitions</h3>
  <div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div>

{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
