{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Clubs</title>


{% endblock title %}

{% block content %}

<style media="screen">

  @media screen and (max-width: 700px){
  .mobile{ display: block;
    text-align:center;
  }  /* show it on smaller screen */
  .computer{ display: none; }
  }
  @media screen and (min-width: 701px) {
  .mobile{ display: none; }   /* hide it on larger screens */
  .computer{ display: block; }
  }

  .row{
    color:#fff;
    text-align:center
  }
  .club-title{
    color:#fff;
    font-size:500%;
    line-height:100%;
    text-align: center;

  }
  .club-slogan{
    color:#fff;
    font-size: 150%;
    margin-top:30px;
  }
  .artwork{
    background:#000;
    height:100vh;
  }

</style>


<h5 class="card-title">Your Clubs and Sports:</h5>
<div class="card-group">
{% for club in clubs_in %}
  <div class="card" style="background:#{% cycle '4f000b' '720026' 'ce4848' 'ff7f51' 'ff9b54' %}; color:#{% cycle 'fff' 'fff' 'fff' %}">
    <div class="card-body text-center justify-content-center">
        <h5>{{ club }}</h5>
    </div>
  </div>
{% endfor %}
</div>

<div class="card text-white mb-3" style="margin-top:10px; background-color:#f71735">
  <div class="card-body">
    <h5 class="card-title">Robotics</h5>
    <p class="card-text">We are the North Atlanta Warbotz, a high school robotics team that combines STEM and teamwork to foster academic growth and skill.</p>
    <a href="{% url 'robotics_homepage' %}" class="btn btn-light btn-block">Go to Robotics</a>
  </div>
</div>

<div class="card text-white mb-3" style="background-color:#1c2028">
  <div class="card-body">
    <h5 class="card-title">Cheerleading</h5>
    <p class="card-text"></p>
    <a href="{% url 'cheer' %}" class="btn btn-light btn-block">Go to Cheerleading</a>
  </div>
</div>


{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
