{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>About - NAHS Volunteer Hub</title>
{% endblock title %}

{% block content %}

<body class="container">

    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="{% url 'lobby' %}">NAHS Student Lab</a>
      {% if user.is_authenticated %}
      <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      More
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" style="color:#000" href="{% url 'home' %}">Home</a>
      <a class="dropdown-item" style="color:#000" href="{% url 'messaging_room' %}">Rooms <span class="badge badge-secondary">New</span></a>
      <a class="dropdown-item" style="color:#000" href="{% url 'clubs_homepage' %}">Clubs <span class="badge badge-secondary">New</span></a>
      <a class="dropdown-item" style="color:#000" href="{% url 'profile' %}">Profile - {{ user }}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" style="color:#000" href="{% url 'about' %}">About</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" style="color:#000" href="{% url 'logout' %}">Logout</a>

    </div>
  </div>
      {% else %}
      <div class="form-inline" style="">
        <a class="btn btn-dark" href="{% url 'login' %}">Login</a>
        <a class="btn btn-outline-dark" style="margin-left:10px" href="{% url 'login' %}">Signup</a>
      </div>
      {% endif %}
    </nav>


      <div class="container" style="margin-top:20px">
        <div class="p-5 rounded border shadow">
          <h3><b>Hi {{ user.first_name }}! </b></h3>
          <h4>My name is Pedro and I created this website.</h4>
          <br>
          <h5>The purpose of this website is to facilitate and promote the <b>connection</b> between Organizations and Volunteers.</h5>
          <h5><b><i>We must help each other,</i></b> for that reason we made this Non-Profit website.</h5>
          <h5>For that reason we want you to use it, find activities, or share opportunities with our volunteers, as long as you are making sure that you are following our rules.</h5>
        </div>
      </div>

      <div class="container" style="margin-top:20px">
        <div class="p-5 rounded border shadow">
          <h3>Terms and Privacy Policies</h3>
          <h5>User's Responsability and Duty</h5>
          <div class="container-fluid">
              <ol>
                <li>Users must be respectful and shouldn't write innapropriate messages. We (the software) are not responsible for actions taken by user</li>
                <li>Users should share only true information and shouldn't mislead others. </li>
              </ol>
          </div>
          <h5>Privacy</h5>
          <div class="container-fluid">
              <ol>
                <li>We, as a Non-profit website, will do our best to keep your data safe and protect it</li>
                <li>We are not responsible for any leak of information.</li>
                <li>The data that is stored in our servers is, first and last name, username, email and the public posts</li>
                <li>We are not required to change or edit any data.</li>
              </ol>
          </div>
          <h5>Illegal access of data</h5>
          <div class="container-fluid">
              <ol>
                <li>One should not access private data that is hosted in our servers without proper authorization</li>
              </ol>
          </div>
          <h5>Our Terms and Privacy</h5>
          <div class="container-fluid">
              <ol>
                <li>This website is not making any profit. This website represent a project and it is a proof of concept</li>
                <li>Any regulamentation that is not followed by the user might originate in having their account close or a higher penalty</li>
                <li>When the user creates an account, they are agreeing with our present terms and also to any changes that might occur to them.</li>
              </ol>
          </div>


        </div>
      </div>

</body>

{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
