{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>NAHS Volunteer Hub</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|PT+Sans&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<body>
  <nav class="site-header sticky-top py-1">
     <div class="container-fluid">
       <a class="navbar-brand" href="{% url 'home' %}">NAHS Volunteer Hub</a>
       {% if user.is_authenticated %}
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdown01"
        style="float:right;" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">More</button>
          <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" style="color:#000" href="{% url 'home' %}">Home</a>
              <a class="dropdown-item" style="color:#000" href="{% url 'messaging_room' %}">Rooms (Coming Soon)</a>
            <a class="dropdown-item" style="color:#000" href="{% url 'profile' %}">Profile - {{ user }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:#000" href="{% url 'about' %}">About</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:#000" href="{% url 'logout' %}">Logout</a>
          </div>
        {% else %}
        <a class="btn btn-warning" style="float:right" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
   </nav>
  <div class="container p-2">
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
     <strong>NAHS Volunteer Hub is live!</strong> We have recently launched. Make sure to participate in this fantastic community.
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <p aria-hidden="true">&times;</p>
     </button>
   </div>
  </div>
<br>

<style media="screen">
  img.ghost {
  position: fixed;
  float:right;
  left:20px;
  bottom: 10px;
  }
@media only screen and (min-width: 1200px) {
    img.ghost {
      display: ;
  }
}
@media only screen and (max-width: 1201px) {
    img.ghost {
      display: none;
  }
}
</style>

<img class="ghost" src="https://sulimanalomran.com/images/book-bag-clipart-17.png" style="width:173.3px; height:240px" alt="ghost-from-https://sulimanalomran.com/wallpaper/getpic.html">


<style media="screen">
  div.fixeds {
  position: fixed;
  float:right;
  right:20px;
  bottom: 10px;
}
</style>

<div style="visibility:hidden" id="published-alert" class="alert alert-warning fixeds shadow-lg" role="alert">
  <strong>Success!</strong> You have published your volunteering activity!
</div>
<script>
  $(function(){
    $("#submitting").on("click", function() {
      alert = document.getElementById('published-alert');
      alert.style.visibility = 'visible';
      setTimeout (removealert, 8000);
      function removealert(){
        alert.style.visibility = 'hidden';
      }


    });
  });
</script>


{% if user.is_authenticated %}
<style>
  #changinghello:before{
    content: '';
    animation: animate infinite 30s;
  }
  @keyframes animate{
    0%{
      content: 'Hello';

    }
    10%{
      content: 'Salut';

    }
    20%{
      content: 'Hallo';

    }
    30%{
      content: 'Olá';

    }
    40%{
      content: 'Привет';

    }
    50%{
      content: 'Hola';

    }
    60%{
      content: '你好';

    }
    70%{
      content: 'হ্যালো';

    }
    80%{
      content: 'こんにちは';

    }
    90%{
      content: 'γεια σας';

    }
    100%{
      content: 'नमस्ते';

    }
  }
</style>

{% else %}
{% endif %}
<div class="container">
<div style="margin-top:-20px" class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="row">
    <div class="col px-0">
      <h1 class="display-4 font-italic">NAHS Volunteer Hub</h1>
      <p class="lead my-3">Get involved and help the community, with thousands of opportunities</p>
      <p>Non-profit website to find volunteering opportunities, more <a href="{% url 'about' %}">here</a></p>
    </div>
    <div class="col">
      {% if user.is_authenticated %}
      <h1 style="text-align:right"><span id="changinghello"></span> {{ request.user }}</h1>
      {% else %}
      {% endif %}
    </div>
      </div>
</div>

{% if user.is_authenticated %}
<div class="container-fluid p-3 rounded border shadow-lg">

<form style="padding:10px" method="post">
  <h4>Publication</h4>
<div class="form-group">
  {% csrf_token %}
  {{ form.as_p }}
  <small class="p-2 form-text text-muted">Title is required. Also make sure to keep messages clean.</small>
  <button type="submit" id="submitting" data class="btn btn-warning btn-lg btn-block">Submit</button>
  </div>
</form>
</div>
<br>
{% else %}
  <div class="container-fluid rounded border">
    <div class="p-4 row">
      <div class="col">
        <a class="btn btn-block btn-outline-warning" href="{% url 'signup' %}">Sign-up</a>
      </div>
      <div class="col">
        <a class="btn btn-block btn-warning" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </div>
{% endif %}


<div class="row">

<div class="col" style="margin-top:10px">
  <h3 style="margin-bottom:15px">Recommended for you</h3>
      <div class="no-gutters border rounded flex-md-row mb-4 shadow-sm">
        <div class="col p-4 d-flex flex-colunm positon-static">
          <div class="container">
            <div class="row">
              <div class="col">
                <small class="form-text text-muted">{{ random_posts.date }}</small>
              </div>
              <div class="col">
                <p class="p-1 text-muted" style="text-align:right;float:right">by {{ random_posts.user }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="p-1">{{ random_posts.title }}</h4>
              </div>
              <div class="col">
                <a class="btn btn-warning" style="float:right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Expand for more info
                </a>
              </div>
            </div>
            <div class="collapse" id="collapseExample">
              <h5 class="p-1">{{ random_posts.description|linebreaks }}</h5>
              <h5 class="p-1">Address: {{ random_post.address }}</h5>
              <h5 class="p-1"><a href="{{ random_post.website }}"></a>{{ random_posts.website }}</h5>
            </div>

          </div>
        </div>
      </div>
</div>

<div class="col" style="margin-top:10px">
  <h3 style="margin-bottom:15px">Follow other users</h3>
  <div class="no-gutters border rounded flex-md-row mb-4 shadow-sm">
    <div class="p-3">
    {% for user in users %}
      <h5><a href="{% url 'profile_pk' pk=user.pk %}">{{ user.username }}</a></h5>
    {% endfor %}
    </div>
  </div>

</div>

</div>


<div style="margin-top:10px">
  <h3 style="margin-bottom:15px">Recent Opportunities</h3>

{% for post in posts %}
      <div class="no-gutters border rounded flex-md-row mb-4 shadow-sm">
        <div class="col p-4 d-flex flex-colunm positon-static">
          <div class="container">
            <div class="row">
              <div class="col">
                <small class="form-text text-muted">{{ post.date }}</small>
              </div>
              <div class="col">
                <p class="p-1 text-muted" style="text-align:right;float:right">by {{ post.user }}</p>
              </div>
            </div>
            <div class="row">
              <h4 class="p-1">{{ post.title }}</h4>
            </div>
            <h5 class="p-1">{{ post.description|linebreaks }}</h5>
            <h5 class="p-1">Address: {{ post.address }}</h5>
            <h5 class="p-1"><a href="{{ post.website }}">{{ post.website }}</a></h5>
              <a class="btn btn-warning btn-block" onclick="" style="color:white">I want to participate</a>
          </div>
        </div>
      </div>
{% endfor %}

</div>

</body>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
