{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Atlanta Volunteer</title>
{% endblock title %}

{% block content %}

<body>
  <nav class="site-header sticky-top py-1">
     <div class="container-fluid">
       <a class="navbar-brand" href="/">Atlanta Volunteer</a>
       {% if user.is_authenticated %}
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown01"
        href="" style="float:right;" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">More</button>
          <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" style="color:#000" href="/">Home</a>
              <a class="dropdown-item" style="color:#000" href="/">Messaging (Coming Soon)</a>
            <a class="dropdown-item" style="color:#000" href="/accounts/profile">Profile - {{ user }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:#000" href="/about">About</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:#000" href="/accounts/logout">Logout</a>
          </div>
        {% else %}
        <a class="btn btn-primary" style="float:right" href="/accounts/login">Login</a>
        {% endif %}
      </div>
   </nav>

<br>

{% if user.is_authenticated %}
<style>
  span:before{
    content: '';
    animation: animate infinite 30s;
  }
  @keyframes animate{
    0%{
      content: 'Hello';

    }
    10%{
      content: 'Salut';

    }
    20%{
      content: 'Hallo';

    }
    30%{
      content: 'Olá';

    }
    40%{
      content: 'Привет';

    }
    50%{
      content: 'Hola';

    }
    60%{
      content: '你好';

    }
    70%{
      content: 'হ্যালো';

    }
    80%{
      content: 'こんにちは';

    }
    90%{
      content: 'γεια σας';

    }
    100%{
      content: 'नमस्ते';

    }
  }

</style>

<div class="container">
<h1 style="text-align:center"><span></span> {{ user }}</h1>
</div>

<br>
{% else %}
{% endif %}
<div class="container-fluid">
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark shadow-lg">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Volunteering in Atlanta</h1>
      <p class="lead my-3">Get involved and help the community, with thousands of opportunities</p>
    </div>
</div>

{% if user.is_authenticated %}
<div class="container-fluid rounded border shadow">

<form style="padding:10px" method="post">
  <h4>Publication</h4>
<div class="form-group">
  {% csrf_token %}
  {{ form.as_p }}
  <small class="p-2 form-text text-muted">Title is required. Also make sure to keep messages clean.</small>
  <button type="submit" id="submitting" data class="btn btn-primary btn-lg btn-block">Submit</button>
  </div>
</form>
</div>
<br>
{% else %}
  <div class="container-fluid rounded border">
    <div class="p-4 row">
      <div class="col">
        <a class="btn btn-block btn-outline-primary" href="/accounts/signup">Sign-up</a>
      </div>
      <div class="col">
        <a class="btn btn-block btn-primary" href="/accounts/login">Login</a>
      </div>
    </div>
  </div>
{% endif %}

<div style="visibility:hidden" id="published-alert" class="alert alert-success" role="alert">
  <b>Success!</b> You have published your volunteering activity
</div>
<script>
  $(function(){
    $("#submitting").on("click", function() {
      alert = document.getElementById('published-alert');
      alert.style.visibility = 'visible';
      setTimeout (removealert, 2000);
      function removealert(){
        alert.style.visibility = 'hidden';
      }


    });
  });
</script>


<div style="margin-top:10px">
  <h3 style="margin-bottom:15px">Recent Opportunities</h3>

{% for post in posts %}
      <div class="no-gutters border rounded flex-md-row mb-4 shadow-sm">
        <div class="col p-4 d-flex flex-colunm positon-static">
          <div class="container">
            <div class="row">
              <div class="col">
                <small class="form-text text-muted">{{ post.date }}</small>
              </div>
              <div class="col">
                <p class="p-1" style="text-align:right;float:right">{{ post.user }}</p>
              </div>
            </div>
            <div class="row">
              <h4 class="p-1">{{ post.title }}</h4>
            </div>
            <h5 class="p-1">{{ post.description|linebreaks }}</h5>
            <h5 class="p-1"><a href="{{ post.website }}"></a>{{ post.website }}</h5>
          </div>
        </div>
      </div>
{% endfor %}


</div>

</body>
{% endblock content %}
