{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Rooms - NAHS Volunteer Hub</title>
{% endblock title %}

{% block content %}

<div id='div11' style='overflow:scroll;overflow-x:hidden;height:70vh;'>
   {% for message in messages %}

  <div class="container" style="margin-top:20px" id='div12'>
    <small class="form-text text-muted">{{ message.timestamp }}</small>
    <p class="p-1 text-muted" style="text-align:right;float:right">by {{ message.author }}</p>
    <h4 class="p-1">{{ message.message }}</h4>
  </div>
   {% endfor %}
</div>


   <form class="fixed-bottom" style="padding:10px" method="post">

   <div class="form-group container">
     {% csrf_token %}
     {{ form.as_p }}
    <div class="btn-group btn-group-block btn-group-lg" style="width:100%" role="group" aria-label="Basic example">
    <button type="submit" id="submitting" class="btn btn-dark">Send</button>
    <button type="button" onclick="reload()" class="btn btn-secondary">Refresh</button>
    </div>
    </div>


<script>
function reload(){
  window.location.reload(1);
}
</script>

{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
