{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="{% static 'logo/logo2x.png' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito|PT+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito|PT+Sans&display=swap" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}
      replace me
    {% endblock title %}

  </head>

  <style>
    body{
      font-family: 'PT Sans', sans-serif;
    }
  </style>
  <style media="screen">
    .container {
      max-width: 960px;
    }
    .site-header {
      background-color:#000000;
    }
    .site-header a {
      color: #fff;
      transition: ease-in-out color .15s;
    }
    .site-header a:hover {
      color: #fff;
      text-decoration: none;
    }
  </style>

<body class="container-fluid">

  {% block navbar %}
  <nav class="navbar navbar-light" >
    <a class="navbar-brand" href="{% url 'lobby' %}">NAHS Student LAB</a>
    {% if user.is_authenticated %}
    <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More
  </button>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" style="color:#000" href="{% url 'lobby' %}"><svg id="i-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z" />
</svg>
Home</a>
<br>
    <a class="dropdown-item" style="color:#000" href="{% url 'home' %}"><svg id="i-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z" />
</svg>
      Volunteer <span class="badge badge-secondary">New</span></a>
      <br>
    <a class="dropdown-item" style="color:#000" href="{% url 'messaging_room' %}"><svg id="i-send" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M2 16 L30 2 16 30 12 20 Z M30 2 L12 20" />
</svg>
      Rooms <span class="badge badge-secondary">New</span></a>
      <br>
    <a class="dropdown-item" style="color:#000" href="{% url 'clubs_homepage' %}"><svg id="i-lightning" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M18 13 L26 2 8 13 14 19 6 30 24 19 Z" />
</svg>
      Clubs <span class="badge badge-secondary">New</span></a>
      <br>
    <a class="dropdown-item" style="color:#000" href="{% url 'profile' %}">
      <svg id="i-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
</svg>
Profile - {{ request.user }}</a>
    <!--<div class="dropdown-divider"></div>
    <a class="dropdown-item" style="color:#000" href="{% url 'about' %}">About</a>-->
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" style="color:#000" href="{% url 'logout' %}">
      <svg id="i-signout" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
</svg>
Logout</a>

  </div>
</div>
    {% else %}
    <div class="form-inline" style="">
      <a class="btn btn-dark" href="{% url 'login' %}">Login</a>
      <a class="btn btn-outline-dark" style="margin-left:10px" href="{% url 'signup' %}">Signup</a>
    </div>
    {% endif %}
  </nav>
  {% endblock navbar %}

  {% block content %}
   replace me
  {% endblock content %}

</body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</html>
