{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="{% static 'logo/logo2x.png' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito|PT+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito|PT+Sans&display=swap" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}
      replace me
    {% endblock title %}

  </head>

  <style>
    body{
      font-family: 'PT Sans', sans-serif;
    }
  </style>
  <style media="screen">
    .container {
      max-width: 960px;
    }
    .site-header {
      background-color:#000000;
    }
    .site-header a {
      color: #fff;
      transition: ease-in-out color .15s;
    }
    .site-header a:hover {
      color: #fff;
      text-decoration: none;
    }
  </style>

<body class="container">

  {% block navbar %}
  <nav class="navbar navbar-light" style="margin-bottom:-25px;margin-top:-20px">
    <a class="navbar-brand" href="{% url 'lobby' %}"><img src="{% static 'logo/logo1x.png' %}" style="width:75px; height:75px" alt=""></a>
    {% if user.is_authenticated %}
    <div class="dropdown">
      <div id="extraButton">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </button>
      </div>

  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" style="color:#000" href="{% url 'lobby' %}">Home</a>
    <a class="dropdown-item" style="color:#000" href="{% url 'home' %}">Volunteer <span class="badge badge-secondary">New</span></a>
    <a class="dropdown-item" style="color:#000" href="{% url 'messaging_room' %}">Rooms <span class="badge badge-secondary">New</span></a>
    <a class="dropdown-item" style="color:#000" href="{% url 'clubs_homepage' %}">Clubs <span class="badge badge-secondary">New</span></a>
    <a class="dropdown-item" style="color:#000" href="{% url 'profile' %}">Profile - {{ request.user }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" style="color:#000" href="{% url 'about' %}">About</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" style="color:#000" href="{% url 'logout' %}">Logout</a>

  </div>
</div>
    {% else %}
    <div class="form-inline" style="">
      <a class="btn btn-dark" href="{% url 'login' %}">Login</a>
      <a class="btn btn-outline-dark" style="margin-left:10px" href="{% url 'signup' %}">Signup</a>
    </div>
    {% endif %}
  </nav>
  {% endblock navbar %}

  {% block content %}
   replace me
  {% endblock content %}

</body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</html>
