{% extends 'base.html' %}

{% block title %}
<title>Cheer - NAHS Student Lab</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

</script>
{% endblock title %}


{% block content %}



{% if "Cheer" not in clubs_in %}
<div class="alert alert-dark" role="alert">
  <h4 class="alert-heading">Are you a member of the cheerleading team?</h4>
  <p></p>
  <hr>
  <form class="" method="post">
    {% csrf_token %}
    <a id="joinClub" class="btn btn-light btn-block">Join Cheer</a>
  </form>

</div>
{% else %}

{% endif %}

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="item_logo">
      <div class="card-body">
        <h5 class="card-title">Item #1</h5>
        <p class="card-text"></p>
        <button id="item1" class="btn btn-primary btn-block" onclick="addItem('item#1', 'item1')" value="addItem">Add</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="item_logo">
      <div class="card-body">
        <h5 class="card-title">Item #2</h5>
        <p class="card-text"></p>
        <button id="item2" class="btn btn-primary btn-block" onclick="addItem('item#2', 'item2')" value="addItem">Add</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="item_logo">
      <div class="card-body">
        <h5 class="card-title">Item #3</h5>
        <p class="card-text"></p>
        <button id="item3" class="btn btn-primary btn-block" onclick="addItem('item#3', 'item3')" value="addItem">Add</button>
      </div>
    </div>
  </div>
</div>


<script>
  items = ""
  item = ""
  button_id = ""


  function addItem(item, button_id){
    if (document.getElementById(button_id).value === "addItem"){
      if (items.length > 0) {
        items = items + ',' + item
      } else {
        items = item
      }
      items = items.replace(',,', ',')
      document.getElementById(button_id).className = "btn btn-danger btn-block"
      $('#' + button_id).text('Remove');
      document.getElementById(button_id).value = "removeItem"

    } else if (document.getElementById(button_id).value === "removeItem") {
      items = items.replace(item, "")
      if (items.lenght = 1) {
          items = ""
      }
      items = items.replace(',,', ',')
      document.getElementById(button_id).className = "btn btn-primary btn-block"
      $('#' + button_id).text('Add');
      document.getElementById(button_id).value = "addItem"
    }
  }

console.log(items)

</script>



<script name="joinClubs">

var club = "Cheer"

  $("#joinClub").click(function(event){

           data = {'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
           'ClubEntered': club};
           console.log("Data Sent: ", data);
           $.ajax({
                   type:'POST',
                   url:'/clubs/cheerleading/',
                   datatype: 'JSON',
                   data: data,
                   success: function(data) {
            console.log('Success: ' + data) // check out how data is structured
          }
          });
 });

</script>

{% endblock content %}
