{% extends 'base.html' %}

{% block title %}
<title>Cheer - NAHS Student Lab</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

{% endblock title %}


{% block content %}

<form class="" action="" method="post">
  {% csrf_token %}

<h4>Football Varsity Items</h4>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: (Varsity Football) Black Uniform Top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">(Varsity Football) Black Uniform Top</text></svg>
      <div class="card-body">
        <p class="card-text">(Varsity Football) Black Uniform Top</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group table-responsive">
            <button id="utf_yl" value="addItem" onclick="addItem('utf_yl', 'utf_yl', 0)" type="button" class="btn btn-primary">Youth Large</button>
            <button id="utf_xs" value="addItem" onclick="addItem('utf_xs', 'utf_xs', 0)" type="button" class="btn btn-primary">Extra Small</button>
            <button id="utf_s" value="addItem" onclick="addItem('utf_s', 'utf_s', 0)" type="button" class="btn btn-primary">Small</button>
            <button id="utf_m" value="addItem" onclick="addItem('utf_m', 'utf_m', 0)" type="button" class="btn btn-primary">Medium</button>
            <button id="utf_l" value="addItem" onclick="addItem('utf_l', 'utf_l', 0)" type="button" class="btn btn-primary">Large</button>
            <button id="utf_xl" value="addItem" onclick="addItem('utf_xl', 'utf_xl', 0)" type="button" class="btn btn-primary">Extra Large</button>
            <button id="utf_2xl" value="addItem" onclick="addItem('utf_2xl', 'utf_2xl', 0)" type="button" class="btn btn-primary">Double XL</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: (Varsity Football) Black Uniform Bottom"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">(Varsity Football) Black Uniform Bottom</text></svg>
      <div class="card-body">
        <p class="card-text">(Varsity Football) Black Uniform Bottom</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group table-responsive">
            <button id="ubf_yl" value="addItem" onclick="addItem('ubf_yl', 'ubf_yl', 0)" type="button" class="btn btn-primary">Youth Large</button>
            <button id="ubf_xs" value="addItem" onclick="addItem('ubf_xs', 'ubf_xs', 0)" type="button" class="btn btn-primary">Extra Small</button>
            <button id="ubf_s" value="addItem" onclick="addItem('ubf_s', 'ubf_s', 0)" type="button" class="btn btn-primary">Small</button>
            <button id="ubf_m" value="addItem" onclick="addItem('ubf_m', 'ubf_m', 0)" type="button" class="btn btn-primary">Medium</button>
            <button id="ubf_l" value="addItem" onclick="addItem('ubf_l', 'ubf_l', 0)" type="button" class="btn btn-primary">Large</button>
            <button id="ubf_xl" value="addItem" onclick="addItem('ubf_xl', 'ubf_xl', 0)" type="button" class="btn btn-primary">Extra Large</button>
            <button id="ubf_2xl" value="addItem" onclick="addItem('ubf_2xl', 'ubf_2xl', 0)" type="button" class="btn btn-primary">Double XL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: (Varsity Football) Warm Top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">(Varsity Football) Warm Top</text></svg>
      <div class="card-body">
        <p class="card-text">(Varsity Football) Warm Top</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group table-responsive">
            <button id="wtf_yl" value="addItem" onclick="addItem('wtf_yl', 'wtf_yl', 0)" type="button" class="btn btn-primary">Youth Large</button>
            <button id="wtf_xs" value="addItem" onclick="addItem('wtf_xs', 'wtf_xs', 0)" type="button" class="btn btn-primary">Extra Small</button>
            <button id="wtf_s" value="addItem" onclick="addItem('wtf_s', 'wtf_s', 0)" type="button" class="btn btn-primary">Small</button>
            <button id="wtf_m" value="addItem" onclick="addItem('wtf_m', 'wtf_m', 0)" type="button" class="btn btn-primary">Medium</button>
            <button id="wtf_l" value="addItem" onclick="addItem('wtf_l', 'wtf_l', 0)" type="button" class="btn btn-primary">Large</button>
            <button id="wtf_xl" value="addItem" onclick="addItem('wtf_xl', 'wtf_xl', 0)" type="button" class="btn btn-primary">Extra Large</button>
            <button id="wtf_2xl" value="addItem" onclick="addItem('wtf_2xl', 'wtf_2xl', 0)" type="button" class="btn btn-primary">Double XL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: (Varsity Football) Warm Bottom"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">(Varsity Football) Warm Bottom</text></svg>
        <div class="card-body">
          <p class="card-text">(Varsity Football) Warm Bottom</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group table-responsive">
              <button id="wbf_yl" value="addItem" onclick="addItem('wbf_yl', 'wbf_yl', 0)" type="button" class="btn btn-primary">Youth Large</button>
              <button id="wbf_xs" value="addItem" onclick="addItem('wbf_xs', 'wbf_xs', 0)" type="button" class="btn btn-primary">Extra Small</button>
              <button id="wbf_s" value="addItem" onclick="addItem('wbf_s', 'wbf_s', 0)" type="button" class="btn btn-primary">Small</button>
              <button id="wbf_m" value="addItem" onclick="addItem('wbf_m', 'wbf_m', 0)" type="button" class="btn btn-primary">Medium</button>
              <button id="wbf_l" value="addItem" onclick="addItem('wbf_l', 'wbf_l', 0)" type="button" class="btn btn-primary">Large</button>
              <button id="wbf_xl" value="addItem" onclick="addItem('wbf_xl', 'wbf_xl', 0)" type="button" class="btn btn-primary">Extra Large</button>
              <button id="wbf_2xl" value="addItem" onclick="addItem('wbf_2xl', 'wbf_2xl', 0)" type="button" class="btn btn-primary">Double XL</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">(Varsity Football) Black Uniform Bottom</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group table-responsive">
              <button id="ubf_yl" value="addItem" onclick="addItem('ubf_yl', 'ubf_yl', 0)" type="button" class="btn btn-primary">Youth Large</button>
              <button id="ubf_xs" value="addItem" onclick="addItem('ubf_xs', 'ubf_xs', 0)" type="button" class="btn btn-primary">Extra Small</button>
              <button id="ubf_s" value="addItem" onclick="addItem('ubf_s', 'ubf_s', 0)" type="button" class="btn btn-primary">Small</button>
              <button id="ubf_m" value="addItem" onclick="addItem('ubf_m', 'ubf_m', 0)" type="button" class="btn btn-primary">Medium</button>
              <button id="ubf_l" value="addItem" onclick="addItem('ubf_l', 'ubf_l', 0)" type="button" class="btn btn-primary">Large</button>
              <button id="ubf_xl" value="addItem" onclick="addItem('ubf_xl', 'ubf_xl', 0)" type="button" class="btn btn-primary">Extra Large</button>
              <button id="ubf_2xl" value="addItem" onclick="addItem('ubf_2xl', 'ubf_2xl', 0)" type="button" class="btn btn-primary">Double XL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">(Varsity Football) Warm Top</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group table-responsive">
              <button id="wtf_yl" value="addItem" onclick="addItem('wtf_yl', 'wtf_yl', 0)" type="button" class="btn btn-primary">Youth Large</button>
              <button id="wtf_xs" value="addItem" onclick="addItem('wtf_xs', 'wtf_xs', 0)" type="button" class="btn btn-primary">Extra Small</button>
              <button id="wtf_s" value="addItem" onclick="addItem('wtf_s', 'wtf_s', 0)" type="button" class="btn btn-primary">Small</button>
              <button id="wtf_m" value="addItem" onclick="addItem('wtf_m', 'wtf_m', 0)" type="button" class="btn btn-primary">Medium</button>
              <button id="wtf_l" value="addItem" onclick="addItem('wtf_l', 'wtf_l', 0)" type="button" class="btn btn-primary">Large</button>
              <button id="wtf_xl" value="addItem" onclick="addItem('wtf_xl', 'wtf_xl', 0)" type="button" class="btn btn-primary">Extra Large</button>
              <button id="wtf_2xl" value="addItem" onclick="addItem('wtf_2xl', 'wtf_2xl', 0)" type="button" class="btn btn-primary">Double XL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


<div style="margin-bottom:75px">
  {{ form.as_p }}
</div>

<button type="submit" id="confirmItems" class="btn btn-success fixed-bottom p-2 btn-lg btn-block" name="button">
  <svg id="i-checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M2 20 L12 28 30 4" />
  </svg></button>
</form>


<script>
  items = ""
  item = ""
  button_id = ""

  var s = 'buf_yl';
  s = s.substring(s.indexOf('_'));

  function addItem(item, button_id, cost){
    if (document.getElementById(button_id).value === "addItem"){
      if (items.length > 0) {
        items = items + ' ' + item
      } else {
        items = item
      }

      document.getElementById(button_id).className = "btn btn-danger"
      document.getElementById(button_id).value = "removeItem"

    } else if (document.getElementById(button_id).value === "removeItem") {
      items = items.replace(item + " ", "")
      items = items.replace(item, "")
      document.getElementById(button_id).className = "btn btn-primary"
      document.getElementById(button_id).value = "addItem"
    }
    if (items === "  ") {
      items = ""
    }
      document.getElementById("itemsInput").value = items;
      console.log(items)
  }



</script>

{% endblock content %}
