{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Profile - NAHS Volunteer Hub</title>
{% endblock title %}

{% block content %}

<div style="margin-top:10px">
  <div class="container">
    <h3>Participation Points: </h3>
    <br>
    <h3>Profile:</h3>
    <h4>Username: {{ user }}</h4>
    <h5>Full Name: {{ user.get_full_name }}</h5>
    <h5>{{ user }}'s Token: {{ token }}</h5>

  </div>

<br>

<h3 class="container">Community Service Log:</h3>
  {% for log in logs %}
  <div class="container">

        <div class="no-gutters border bg-white rounded flex-md-row mb-4 shadow-sm">
          <div class="col p-4 d-flex flex-colunm positon-static">
            <div class="container">
              <div class="row">
                <div class="col">
                  <small class="form-text text-muted">Date(s) of Activity: {{ log.date_activity }}</small>
                </div>
                <div class="col">
                  <!--<p class="p-1 text-muted" style="text-align:right;float:right">by {{ log.user }}</p>-->
                </div>
              </div>
              <h5 class="p-1">Agency Name: {{ log.agency_name }}</h5>
              <h5 class="p-1">Activity: {{ log.activity }}</h5>
              <h5 class="p-1">Hours: {{ log.hours }}</h5>
              <h5 class="p-1">Supervisor: {{ log.supervisor_contact }}</h5>
              <h5 id="StoredSignature" class="p-1">Signature: <a class="btn btn-primary" href="/accounts/post/{{ log.signature }}">Click to view</a></h5>
            </div>
          </div>
        </div>
          </div>
  {% endfor %}



</div>

{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
