{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Profile - NAHS Volunteer Hub</title>
{% endblock title %}

{% block content %}

<body class="container">

  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="{% url 'lobby' %}">NAHS Student Lab</a>
    {% if user.is_authenticated %}
    <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More
  </button>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" style="color:#000" href="{% url 'home' %}">Home</a>
    <a class="dropdown-item" style="color:#000" href="{% url 'messaging_room' %}">Rooms <span class="badge badge-secondary">New</span></a>
    <a class="dropdown-item" style="color:#000" href="{% url 'clubs_homepage' %}">Clubs <span class="badge badge-secondary">New</span></a>
    <a class="dropdown-item" style="color:#000" href="{% url 'profile' %}">Profile - {{ user }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" style="color:#000" href="{% url 'about' %}">About</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" style="color:#000" href="{% url 'logout' %}">Logout</a>

  </div>
</div>
    {% else %}
    <div class="form-inline" style="">
      <a class="btn btn-dark" href="{% url 'login' %}">Login</a>
      <a class="btn btn-outline-dark" style="margin-left:10px" href="{% url 'login' %}">Signup</a>
    </div>
    {% endif %}
  </nav>


<div style="margin-top:10px">
  <div class="container">
    <h3>Participation Points: </h3>
    <br>
    <h3>Profile:</h3>
    <h4>Username: {{ user }}</h4>
    <h5>First Name: {{ user.first_name }}</h5>
    <h5>Last Name: {{ user.last_name }}</h5>
    <h5>Email: {{ user.email }}</h5>
    <h5>Your Token: {{ token }}</h5>
    <p>A token is what you give to people so that they can find you
    <br>
    For Example: /accounts/profile/(Your Token Here)
  </p>
  </div>

  <div class="container bg-white border rounded shadow-sm flex-md-row mb-4">
    <form style="padding:10px" method="post">
      <h4>Log Your Activities:</h4>
    <div class="form-group">
      {% csrf_token %}
      {{ form.as_p }}
      <small>This action is not reversable</small>
      <button type="submit" id="submitting" data class="btn btn-primary btn-lg btn-block">Submit</button>
      </div>
    </form>

  </div>

<br>

<h3 class="container">Community Service Log:</h3>

  {% for log in logs %}

  <div class="container bg-white border rounded-lg shadow-sm flex-md-row mb-4">
          <div class="col p-4 d-flex flex-colunm positon-static">
            <div class="container">
              <div class="row">
                <div class="col">
                  <small class="form-text text-muted">Date(s) of Activity: {{ log.date_activity }}</small>
                </div>
                <div class="col">
                  <!--<p class="p-1 text-muted" style="text-align:right;float:right">by {{ log.user }}</p>-->
                </div>
              </div>
              <h5 class="p-1">Agency Name: {{ log.agency_name }}</h5>
              <h5 class="p-1">Activity: {{ log.activity|linebreaks }}</h5>
              <h5 class="p-1">Hours: {{ log.hours }}</h5>
              <h5 class="p-1">Supervisor: {{ log.supervisor_contact }}</h5>
            </div>
          </div>
          </div>
  {% endfor %}


</div>


{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
