{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Profile - NAHS Volunteer Hub</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito|PT+Sans&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<nav class="site-header sticky-top py-1">
   <div class="container-fluid">
     <a class="navbar-brand" href="/">Atlanta Volunteer</a>
     {% if user.is_authenticated %}
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown01"
      href="" style="float:right;" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">More</button>
        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" style="color:#000" href="/">Home</a>
            <a class="dropdown-item" style="color:#000" href="{% url 'messaging_room' %}">Rooms (Coming Soon)</a>
          <a class="dropdown-item" style="color:#000" href="/accounts/profile">Profile - {{ request.user }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color:#000" href="/about">About</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color:#000" href="/accounts/logout">Logout</a>
        </div>
      {% else %}
      <a class="btn btn-primary" style="float:right" href="/accounts/login">Login</a>
      {% endif %}
    </div>
 </nav>


<div class="jumbotron">
  <div class="container">
    <h3>Participation Points: </h3>
    <br>
    <h3>Profile:</h3>
    <h4>Username: {{ user }}</h4>
    <h5>First Name: {{ user.first_name }}</h5>
    <h5>Last Name: {{ user.last_name }}</h5>
    <h5>Email: {{ user.email }}</h5>
  </div>

  <div class="container">
    <!--<h3>Your Connections</h3>-->

  </div>

</div>


{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
