{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Signup - NAHS Volunteer Hub</title>
{% endblock title %}


{% block content %}

  <style>
    #id_password, .helptext{
      display: none;
    }
  </style>


<div class="card text-black mb-3" style="margin-top:50px;max-width:80%;margin-left:auto;margin-right:auto">
    <div class="card-header">Signup</div>
      <div class="card-body">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>By creating an account, you agree to our terms of service and privacy policies
              Click <a href="/accounts/terms-and-privacy">here</a> to view our terms</p>
            <button style="width:100%" class="btn btn-dark" type="submit">Signup</button>
        </form>
        <p style="margin-bottom:-1px;margin-top:10px;text-align:center">or</p>
        <a style="width:100%" class="btn btn-dark" href="/accounts/login">Login</a>
      </div>
    </div>

{% endblock content %}
