{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>NAHS Student Lab</title>
{% endblock title %}

{% block content %}

<style media="screen">
  body{
    font-weight:700;
  }
  .awesome-card{
    border-radius: 20px;

  }
</style>


<div style="margin-top:25px;margin-bottom:25px">
        <span class="text-dark" style="font-size:40px;">Student <span class="text-success">LAB</span></span>
        <br>
        <span class="text-dark" style="font-size:30px">Find everything you need for <span class="text-success">success</span></span>
  </div>


  <div class="card text-white bg-danger mb-3" style="">
    <div class="card-header">Volunteer Hub</div>
    <div class="card-body">
      <h5 class="card-title">Get involved in the community</h5>
      <p class="card-text">Find volunteering activities, or people to participate, and log all your hours.</p>
      <a href="/volunteer" class="btn btn-light btn-block">Start</a>
    </div>
  </div>

<br>

  <div class="card text-white bg-primary mb-3" style="">
    <div class="card-header">Clubs</div>
    <div class="card-body">
      <h5 class="card-title">Get to know all the clubs you can participate</h5>
      <p class="card-text">Find your favourite clubs and get more in their websites</p>
      <a href="/clubs" class="btn btn-light btn-block">Start</a>
    </div>
  </div>

  <br>

  <div class="card text-white bg-success mb-3" style="">
    <div class="card-header">Rooms</div>
    <div class="card-body">
      <h5 class="card-title">Communicate with Students, Teachers and more</h5>
      <p class="card-text">Enter or Create a room to talk with others faster then ever</p>
      <a href="/room" class="btn btn-light btn-block">Start</a>
    </div>
  </div>

{% endblock content %}
